.customer-review__container {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.customer-review__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.customer-review__description {
}
